.log-main {
    /*height:100vh;*/
    background-color: #222222;
    color: #d6d6d6;
    /*height: 90vh;*/
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.log-line-num {
    display: inline-block;
    width: 55px;
    margin-left: 15px;
    margin-right: 15px;
    color: #666666;
    user-select: none;
    text-align: right;
    min-width: 40px;
    cursor: pointer;
    text-decoration: none;
    padding-right: 1em;
}

.log-line {
    font-family: "Monaco", monospace;
    font-size: 12px;
    white-space: pre;
    color: #d6d6d6;
    font-weight: 400;
}

.log-line:hover {
    background-color: #444444;
}


