.dashed-link {
    border-bottom: 1px dashed #007bff;
}
.dashed-link:hover {
    text-decoration: none;
}

.value-col {
    max-width: 50px;
    /*height: 55px;*/
}

.props-row {
    vertical-align: middle;
    line-height: 2;
}

.device-pic {
    width: 128px;
    /* height: 128px;*/
    margin-right: auto;
    margin-left: auto;
}

.loader {
    position: absolute;
    /*left: 0;*/
    right: 0;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
