.dashed-link {
    border-bottom: 1px dashed #007bff;
}
.dashed-link:hover {
    text-decoration: none;
}

.value-col {
    max-width: 50px;
    position: relative;
}


.value-col > input::-webkit-outer-spin-button,
.value-col > input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.value-col > input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.props-row {
    vertical-align: middle;
    line-height: 2;
}

.device-pic {
    width: 150px;
    /* height: 128px;*/
    margin-right: auto;
    margin-left: auto;
}

.loader {
    position: absolute;
    /*left: 0;*/
    right: 0;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

