@keyframes blinker{50%{opacity:0}}.animation-blinking{animation:blinker 1s linear infinite}.content{overflow-y:scroll}
._36Sntvyj-B3gg7Xj6xLUaY {
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
}
._1TK12NlMUcpu0IZGw5KG9F {
    width: 100%;
    height: 100%;
    user-select: none;
    position: relative;
}
.-vLZFy4QqTaA5Lql2j7WL {
    width: 32px;
    height: 32px;
    opacity: 1;
}
._3VABKCYaUBV0N55MRkEiCg {
    font-size: 14px;
    cursor: pointer;
}

._2MMYgLsCQ5mPT-AJSdZ4Uz {
    stroke: #999;
    stroke-opacity: 1;
}

.EFSV-Lj6sJyoW14QA3ig0 {
    text-anchor: middle;
    pointer-events: none;
    font-size: 10px;
    fill: black;
    flood-color: #FFFFFF;
    flood-opacity: 1;
}

._3m9RTJKJZqiJx1UmLLzi4 {
    -custom-noop: noop;
}

._1RxBn1bAxqYxk5W0mPwZMS {
    -custom-noop: noop;
}

.JhUbmgThutQMk8laPcsxg {
    fill: green;
    color: green;
}
._3F14ZWmKtSPPHai2y_MRRj {
    stroke: #fff;
    stroke-width: 2px;
}
._3F14ZWmKtSPPHai2y_MRRj text {
    display: none;

}
._1I1ZcuMgRbn_B5HXF9Z2mw,
._3F14ZWmKtSPPHai2y_MRRj {
    fill: blue;
    color: blue;
}

._3FeEi6FG3R9pYpboNF-OBu {
    stroke: red;
    stroke-dasharray: 15;
}
._2cFMSmedVqD5hjj2K7XpsQ,
._3KnTt0kzrMwLh56UMBBqwe {
    stroke: blue;
}

._3HeSfltIQjH_mQxhaoHnCs {
    stroke: blue;
    stroke-dasharray: 5;
}
._2zGuiMZ7r-Z4mfRvCVQEAp,
._35uGMHQCj1Sx5FyJk5-Ec1 {
    stroke: green;
}

._1nD8O-bIFFZWctv6x4zD8j,
._2tVxslI3DwN1gBA6s3V24b {
    stroke: green;
    opacity: 0.8;
    stroke-dasharray: 5;
}

._1PgTRqMkYD7R1RqIF7R5ni {
    overflow: visible;
    width: 100%;
    height: 100%;
}

._3goiiMv86rV5wazL6jDpjU {
    opacity: 0.5;
    stroke: gray;
}

.RIAc5GeET4TLTKyCVy7yK {
    position: absolute;
    right: 0;
}
._2UWt6cv5iKbBWQ1njU-Knh img {
    width: 150px;
}

.TxlAB4ufmQ5iWcatxCVRX {
    padding-left: .5rem;
    padding-right: .5rem;
}
._2Qj8QVth6tVVFe6VESug0N {
    margin-left: 4px;
}

._1A0umx4fPj4iWC5K7RUnD- li {
    margin: 0;

    list-style-type: none;
    position: relative;
    padding: 20px 5px 0;
}

._1A0umx4fPj4iWC5K7RUnD- li::before {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    right: auto;
    left: -20px;
    border-left: 1px solid #ccc;
    bottom: 50px;
}
._1A0umx4fPj4iWC5K7RUnD- li::after {
    content: '';
    position: absolute;
    top: 30px;
    width: 25px;
    height: 20px;
    right: auto;
    left: -20px;
    border-top: 1px solid #ccc;
}
._1A0umx4fPj4iWC5K7RUnD- li span {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    border-radius: 5px;
}

/*Remove connectors before root*/
._1A0umx4fPj4iWC5K7RUnD- > ul > li::before,
._1A0umx4fPj4iWC5K7RUnD- > ul > li::after {
    border: 0;
}
/*Remove connectors after last child*/
._1A0umx4fPj4iWC5K7RUnD- li:last-child::before {
    height: 30px;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
._1A0umx4fPj4iWC5K7RUnD- li span:hover,
._1A0umx4fPj4iWC5K7RUnD- li span:hover + ul li span {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
._1A0umx4fPj4iWC5K7RUnD- li span:hover + ul li::after,
._1A0umx4fPj4iWC5K7RUnD- li span:hover + ul li::before,
._1A0umx4fPj4iWC5K7RUnD- li span:hover + ul::before,
._1A0umx4fPj4iWC5K7RUnD- li span:hover + ul ul::before {
    border-color: #94a0b4;
}


._2p1XqBiO9XLlCB-lT60VCH {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    /*position: relative;*/
    min-height: 56px;
    /*width: 56px;*/
}

._3Z1i8qUrV2sErNF0__pVZt img {
    max-height: 2em;
    transition: transform .5s ease;
}

._3Z1i8qUrV2sErNF0__pVZt img:hover {
    transform: scale(4) translate(5px, 0);
    z-index: 10;
}
._2sZwYIX5ipSoyWG2H7AU79 i{right:0}._2sZwYIX5ipSoyWG2H7AU79 img{max-height:2em}
._1AmFhCTIk_ifBlEJGnLJuK span {
    padding: 0;
}

._1AmFhCTIk_ifBlEJGnLJuK i {
    margin-left: 5px;
}
._1KD_wxLENsmTnroATY4BrA {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 56px;
}

._1kMXLbhsSotmS-uYUbIFl0 img {
    max-height: 2em;
    transition: transform .5s ease;
}

._1kMXLbhsSotmS-uYUbIFl0 img:hover {
    transform: scale(4) translate(5px, 0);
    z-index: 10;
}


/*# sourceMappingURL=main.503fd02fbed4a5bf9aea.css.map*/