<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zigbee2MQTT</title>
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <!-- inject-styles-here -->
    <link rel="subresource" href="./css/light.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" sizes="150x150">

</head>

<body>
    <div id="root" class="wrapper"></div>
</body>

</html>
