<!DOCTYPE html>
<html>
<head><title>SLS Gateway: Zigbee Map</title>
    <style>        html, body {
        height: 100%;
    }

    body {
        padding-top: 5rem;
        background-color: #eef5f9 !important;
    }

    .card {
        background-color: #ffffff;
        border-color: #d7dfe3;
        border-radius: 4px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    }

    #editor {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }      </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1e88e5;"><a class="navbar-brand"
                                                                                                 href="/">SLS
    Gateway</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item">
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="dropdown00"
                                             data-toggle="dropdown" aria-expanded="false">Zigbee</a>
                <div class="dropdown-menu" aria-labelledby="dropdown00"><a class="dropdown-item"
                                                                           href="/zigbee">Devices</a> <a
                        class="dropdown-item" href="/zigbee/map">Map</a> <a class="dropdown-item" href="/zigbee/groups">Groups</a>
                    <a class="dropdown-item" href="/zigbee/config">Config</a></div>
            </li>
            </li>
            <li class="nav-item"><a class="nav-link" href="/log">Log</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="dropdown01"
                                             data-toggle="dropdown" aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01"><a class="dropdown-item" href="/wifi">WiFi
                    Setup</a> <a class="dropdown-item" href="/time">Time Setup</a> <a class="dropdown-item"
                                                                                      href="/link">Link Setup</a> <a
                        class="dropdown-item" href="/hw">HW Setup</a></div>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="dropdown02"
                                             data-toggle="dropdown" aria-expanded="false">Help</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02"><a class="dropdown-item"
                                                                           href="https://slsys.github.io/Gateway/">WiKi</a>
                    <a class="dropdown-item" href="https://t.me/slsys">Telegram (Support, discussions)</a> <a
                            class="dropdown-item" href="https://mjdm.ru/forum/viewtopic.php?t=6700">Forum (Updates,
                        knowledges)</a></div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="dropdown03"
                                             data-toggle="dropdown" aria-expanded="false">Actions</a>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="/scripts">Scripts</a> <a
                        class="dropdown-item" href="/backup">Backup</a> <a class="dropdown-item" href="/update">Update
                    Firmware</a> <a class="dropdown-item" data-toggle="modal" data-target="#zb_reset_modal" href="#">Zigbee
                    Reset</a> <a class="dropdown-item" data-toggle="modal" data-target="#reboot_modal" href="#">Reboot
                    System</a></div>
            </li>
        </ul>
    </div>
</nav><!-- Modal -->
<div class="modal fade" id="reboot_modal" tabindex="-1" role="dialog" aria-labelledby="reboot_modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="reboot_modalLabel">Reboot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"> Are you sure you want to reboot the device?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="location.href='/reboot';">Reboot</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="zb_reset_modal" tabindex="-1" role="dialog" aria-labelledby="zb_reset_modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="zb_reset_modalLabel">Zigbee reset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"> Are you sure you want to reset all zigbee devices?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="location.href='/zigbee/reset';">Reset</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<main role="main" class="h-100">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js"></script>
    <div data-widget-host="map" class="w-100 h-100">
        <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>
    </div>
</main><!-- /.container -->          </body>
</html>