<!DOCTYPE html>
<html>
<head><title>SLS Gateway: Scripts</title>
    <style>        html, body {
        height: 100%;
    }

    body {
        padding-top: 5rem;
        background-color: #eef5f9 !important;
    }

    .card {
        background-color: #ffffff;
        border-color: #d7dfe3;
        border-radius: 4px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    }

    #editor {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }      </style>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <meta content="width=device-width" name="viewport">
    <meta content="yes" name="mobile-web-app-capable">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #1e88e5;"><a class="navbar-brand"
                                                                                                 href="/">SLS
    Gateway</a>
    <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarsExampleDefault" data-toggle="collapse" type="button"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item">
            <li class="nav-item dropdown"><a aria-expanded="false" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                             href="#" id="dropdown00">Zigbee</a>
                <div aria-labelledby="dropdown00" class="dropdown-menu"><a class="dropdown-item"
                                                                           href="/zigbee">Devices</a> <a
                        class="dropdown-item" href="/zigbee/map">Map</a> <a class="dropdown-item" href="/zigbee/groups">Groups</a>
                    <a class="dropdown-item" href="/zigbee/config">Config</a></div>
            </li>
            </li>
            <li class="nav-item"><a class="nav-link" href="/log">Log</a></li>
            <li class="nav-item dropdown"><a aria-expanded="false" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                             href="#" id="dropdown01">Settings</a>
                <div aria-labelledby="dropdown01" class="dropdown-menu"><a class="dropdown-item" href="/wifi">WiFi
                    Setup</a> <a class="dropdown-item" href="/time">Time Setup</a> <a class="dropdown-item"
                                                                                      href="/link">Link Setup</a> <a
                        class="dropdown-item" href="/hw">HW Setup</a></div>
            </li>
            <li class="nav-item dropdown"><a aria-expanded="false" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                             href="#" id="dropdown02">Help</a>
                <div aria-labelledby="dropdown02" class="dropdown-menu"><a class="dropdown-item"
                                                                           href="https://slsys.github.io/Gateway/">WiKi</a>
                    <a class="dropdown-item" href="https://t.me/slsys">Telegram (Support, discussions)</a> <a
                            class="dropdown-item" href="https://mjdm.ru/forum/viewtopic.php?t=6700">Forum (Updates,
                        knowledges)</a></div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown"><a aria-expanded="false" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                             href="#" id="dropdown03">Actions</a>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="/update">Update
                    Firmware</a> <a class="dropdown-item" href="/backup">Backup</a> <a class="dropdown-item"
                                                                                       data-target="#zb_reset_modal"
                                                                                       data-toggle="modal"
                                                                                       href="#">Zigbee Reset</a> <a
                        class="dropdown-item" data-target="#reboot_modal" data-toggle="modal" href="#">Reboot System</a>
                </div>
            </li>
        </ul>
    </div>
</nav><!-- Modal -->
<div aria-hidden="true" aria-labelledby="reboot_modalLabel" class="modal fade" id="reboot_modal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="reboot_modalLabel">Reboot</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"> Are you sure you want to reboot the device?</div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="location.href='/reboot';" type="button">Reboot</button>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="zb_reset_modalLabel" class="modal fade" id="zb_reset_modal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="zb_reset_modalLabel">Zigbee reset</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"> Are you sure you want to reset all zigbee devices?</div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="location.href='/zigbee/reset';" type="button">Reset</button>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>
<main class="h-100" role="main">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css" integrity="sha256-vZ3SaLOjnKO/gGvcUWegySoDU6ff33CS5i9ot8J9Czk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/addon/dialog/dialog.min.css" integrity="sha256-OjF42ew3ra0/zNWgjfDTydf609RXv0cXcassXEeW0O8=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/dracula.min.css" integrity="sha256-Dq8vPj3GNwTg9rflLnPQ8bDSLndsRxjmtWRXOwcWR4g=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/addon/lint/lint.min.css" integrity="sha256-h8ssETVF7g7LAuYcBn+6AQDL1DLfLVwuiBrLrk3yHks=" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/luaparse@0.3.0/luaparse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js" integrity="sha256-id5Qk/MwQJxgNlDFDpVymUuReXfTUZiaQKb8arrddQM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/addon/search/search.min.js" integrity="sha256-pk1ahN30IsCG20LJu38Va1A7tQagksJwAJUJK3rBFe0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/addon/search/searchcursor.min.js" integrity="sha256-LE6iKRf3wBxVYAW8kInWVcU3A9hYtDaphl4Wgdg4ZkU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/addon/search/match-highlighter.min.js" integrity="sha256-1ldu9k2AN9gh9HWCK61lA5l/XVCZ7qsExtiEPl9J19w=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/addon/dialog/dialog.min.js" integrity="sha256-G+QhvxjUNi5P5cyQqjROwriSUy2lZtCFUQh+8W1o6I0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/lua/lua.min.js" integrity="sha256-LOPzZDM7I7GCUcDVYX03VUXJVrKe0xvmf16sON+7QFs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/javascript/javascript.min.js" integrity="sha256-tnhIfKT2keR1i4Y7lQL70BBfwnxp10ywUpnXjSjIlH4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/addon/lint/json-lint.min.js" integrity="sha256-mWRA+eRb2A3v8WLC4QSEVKYYgWuy1jYrLoi4+tbWrnU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/addon/lint/lint.min.js" integrity="sha256-nPMXmdsL7zRzuxDI7BUux5LDNW06397DiDmEAq2djhg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonlint/1.6.0/jsonlint.min.js" integrity="sha256-yWZBgNxWVjnXu4Tut5/J0MAvczYc2U3SuK0svKSMaW4=" crossorigin="anonymous"></script>
    <div class="h-100" data-widget-host="code-editor"></div>
</main>
</body>
</html>