@keyframes blinker {
    50% {
        opacity: 0;
    }
}

body {
    overflow-y: auto !important;
}

.animation-blinking {
    animation: blinker 1s linear infinite;
}

.content {
    overflow-y: auto;
}
