.card {
    min-height: 100px;
    height: 100%;
}

.cardBody {
    // display: flex;
    align-items: center;
}

.deviceImage {
    // flex-shrink: 0;
    // margin-right: 5px;
    i {
        right: 0;
    }

    img {
        max-height: 2em;
    }
}

.exposes {
    flex-grow: 1;
}



