@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.green {
	color: green;
}

.actions {
	min-width:150px
}

.action-colum a {
	text-decoration: none;
	border-bottom: 1px dashed black;
}
.action-colum i {
	margin-left: 5px;
}

.invisible {
	visibility: hidden;
}