.card {
    min-height: 100px;
    height: 100%;
}

.entity {
    display: flex;
    align-items: center;
}

.icon {
    width: 25px;
    flex-shrink: 0;
}

.title {
    flex-shrink: 1;
    flex-grow: 1;
}

.value {
    flex-shrink: 0;
    line-height: 100%;
}
