<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Widget Template</title>

  <style>
    body {
      background-color: #eef5f9;
    }

    .preview {
      width: 100%;
      /* max-width: 1100px; */
      /* margin: 80px auto; */
      border: 1px dashed rgba(0, 0, 0, 0.2);
      position: relative;
    }

    .preview::before {
      content: 'WIDGET PREVIEW';
      position: absolute;
      display: block;
      top: -18px;
      font-size: 11px;
      color: rgba(0, 0, 0, 0.5);
    }

    .map {
      height: 600px;
    }
  </style>

</head>

<body>
  <main role="main" class="h-100">
    <div data-widget-host="discovery" class="preview"></div>
<!--    <div data-widget-host="zigbee" class="preview"></div>-->
<!--    <div data-widget-host="map" class="preview map"></div>-->
  </main>
</body>

</html>