.container {
  /* background-color: #333; */
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

.link {
  stroke: #999;
  stroke-opacity: 1;
}

.label {
  font-size: 10px;
  fill: #fff;
  cursor: pointer;
}
.label.Coordinator {
  display: none;
}

.labels {

}
.links {

}
.nodes {
  
}
.EndDevice {
  fill: green;
}
.Router, .Coordinator {
  fill: blue;
}
