.container {
  border: 1px solid black;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

.link {
  stroke: #999;
  stroke-opacity: 1;
}
.linkLabel {
  text-anchor: middle;
  pointer-events: none;
  font-size: 10px;
  fill: #D3D3D3;
  flood-color: #FFFFFF;
  flood-opacity:1;
  text-anchor: middle;
}

.label {
  font-size: 10px;
  fill: #fff;
  cursor: pointer;
}
.label.Coordinator {
  display: none;
}

.labels {

}
.links {

}
.nodes {
  
}
.EndDevice {
  fill: green;
}
.Router, .Coordinator {
  fill: blue;
}
