.container {
  background-color: #333;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: 1;
}

.label {
  font-size: 10px;
  fill: #fff;
}
.labels {

}
.links {

}
.nodes {
  
}