.container {
    width: 100%;
    height: 100%;
    user-select: none;
    position: relative;
}
.img {
    width: 32px;
    height: 32px;
    opacity: 1;
}
.node {
    font-size: 14px;
    cursor: pointer;
}

.link {
    stroke: #999;
    stroke-opacity: 1;
}

.linkLabel {
    text-anchor: middle;
    pointer-events: none;
    font-size: 10px;
    fill: black;
    flood-color: #FFFFFF;
    flood-opacity: 1;
}

.links {
    -custom-noop: noop;
}

.nodes {
    -custom-noop: noop;
}

.EndDevice {
    fill: green;
    color: green;
}
.EndDevice > circle {
    stroke: green;
}
.Coordinator {
    stroke: #fff;
    stroke-width: 2px;
}
.Coordinator text {
    display: none;

}
.Router,
.Coordinator {
    fill: blue;
    color: blue;
}

.Router > circle,
.Coordinator > circle {
    stroke: blue;
}

.BrokenLink {
    stroke: red;
    stroke-dasharray: 15;
}
.Coordinator2Router,
.Router2Coordinator {
    stroke: blue;
}

.Router2Router {
    stroke: blue;
    stroke-dasharray: 5;
}
.Coordinator2EndDevice,
.EndDevice2Coordinator {
    stroke: green;
}

.Router2EndDevice,
.EndDevice2Router {
    stroke: green;
    opacity: 0.8;
    stroke-dasharray: 5;
}

.foreignObject {
    overflow: visible;
    width: 100%;
    height: 100%;
}

.offline {
    opacity: 0.5;
    stroke: gray;
}

.controls {
    position: absolute;
    right: 0;
}
