.tooltip {
    border: 1px solid #000;
    min-width: 200px;
    width: max-content;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
}
