.device-image {
    max-height: 128px;
    display: block;
}

.scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        color: red;

    }

    100% {
        color: black;
    }
}


.blink {
    animation: blink 1s linear infinite;
}